{{ define "main" }}
<div class="gallery" id="gallery" style="visibility: hidden; height: 1px; overflow: hidden">
    {{ range sort .Site.Data.art }}
    {{ $description := .description }}
    {{ range .srcs }}
    {{ $image := (printf "images/gallery/%s" . ) | resources.Get }}
    {{ $thumbnail := $image.Process "fit 600x600" }}
    {{ $image := $image.Process "webp" }}
    {{ $thumbnail := $thumbnail.Process "webp" }}
    <a href="{{ $image.RelPermalink }}" class="gallery-item" data-pswp-width="{{ $image.Width }}"
        data-pswp-height="{{ $image.Height }}">
        <img src="{{ $thumbnail.RelPermalink }}" class="lazyload" alt="{{ $description }}"
            width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" loading="lazy">
    </a>
    {{ end }}
    {{ end }}
</div>
{{ end }}