{{ $start_date_machine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $start_date := .Date | time.Format ":date_long" }}
{{ $end_date_machine := .ExpiryDate | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $end_date := .ExpiryDate | time.Format ":date_long" }}
{{ $images := .Resources.ByType "image" }}
<div class="col">
    <div class="card">
        <h3 class="card-header fst-italic fw-light">{{ .Title }}</h3>
        <div class="card-body row">
            <div class="col-sm-6">
                <div class="fw-bold">
                    <time datetime="{{ $start_date_machine }}">{{ $start_date }}</time> -
                    <time datetime="{{ $end_date_machine }}">{{ $end_date }}</time>
                </div>
                <!-- <div><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></div> -->
                <div>{{ .Params.venue }}</div>
                <div>{{ .Params.city }}</div>
                <div>
                    <p>{{ .Content }}</p>
                </div>
            </div>
            {{ range $images }}
            {{ $thumbnail := .Resize "x600" }}
            <div class="col px-1"><img src="{{ $thumbnail.RelPermalink }}" class="img-fluid"></div>
            {{ end }}
        </div>
    </div>
</div>